.tabbedArea, .columnFlex{
    display: flex;
    flex-flow: column nowrap;
}

.tabBar{
    flex-grow: 0;
    width: 100%;
}
/*  */
.tabViews{
    flex-grow: 1;
    width: 100%;
    overflow: hidden;
    background-color: black;
}

.fixedFlex{
    flex-grow: 0;
    flex-shrink: 0;
}

.stretchFlex{
    flex-grow: 1;
    flex-shrink: 1;
}

.fillSpace{
    width: 100%;
    height: 100%;
}