@font-face {
    font-family: icons;
    src: url(./icons/icons_solid.otf);
}

body {
    margin-top:0px;
    margin-bottom:0px;
    margin-left:0px;
    margin-right:0px;
    padding-left:0px;
    padding-right:0px;
    overflow: hidden;
    
}

.global{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    
    display: flex;
    flex-flow: column nowrap;
}

/* ======= Outer sections ======= */

.toolBar{
    flex-grow: 0;
    font-size: 17pt;
    font-family: icons;
}
.centralView{
    flex-grow: 1;
    overflow-y: hidden;
    
    display: flex;
    flex-flow: row nowrap;
}
.bottomBar{
    flex: 0 0 25px;
}

/* ======= Inside central view ======= */

.overviewBar{
    flex: 0 1 200px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    /*resize: horizontal;*/
}
.scenarioSpecificArea{
    flex-grow: 1;
    height: 100%;
    
    display: flex;
    flex-flow: column nowrap;
}

/* ======= Inside scenario specific area ======= */

.tabBar{
    flex-grow: 0;
    width: 100%;
}
/*  */
.scenarioViews{
    flex-grow: 1;
    width: 100%;
    overflow: hidden;
    background-color: black;
}
/* single Central View (the view controlled by tabbing) */
.scenarioView{
    
}

/* divs inside a single central view */


.networkGraphContainer{
    background-color: #1c2938;
}

.machineInfoContainer{
    font-weight: bold;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white;
}

/* Form elements */
.alignRight{
    text-align: right;
}
.alignCenter{
    text-align: center;
}
.alignLeft{
    text-align: left;
}

.bigIcon{
    font-size: 39pt;
    font-family: icons;
    text-align: center;
}
