@font-face {
    font-family: icons;
    src: url(../css/webfonts/icons_solid.otf);
}

label{
    margin-bottom: 0;
}

icon{
    font-family: icons;
    white-space: pre;
    display: inline-block;
    width: 30px;
}

largeicon{
    font-family: icons;
    font-size: 17pt;
    padding-left: 3px;
    padding-right: 3px;
}

.iconArea{
    font-family: icons;
    float: left;
    min-width: 24px;
    padding-right: 1px;
}

.floatingIconButton{
    font-family: icons;
    background-color: transparent;
    border: none;
    float: right;
    padding: 0px;
    padding-left: 10px;
    outline: none;
    color: #007bff;
    white-space: nowrap;
    text-align: right;
    width: 20px;
}

.floatingIconButton:focus{
    outline: none;
}

.floatingIconButton:hover{
    color: #0056b3;
}

/* BOOTSTRAP STYLE OVERRIDES */
/* Card */
.card {
    border: none;
}

.card-header {
    padding: 0.20rem 1.25rem;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card-body {
    padding-left: 0px;
    padding-right: 0px;
}


/* Grid */
.col{
    margin-bottom: 0px;
}

/* List */
.list-group-item-action{
    cursor: pointer;
}

/* Form */
.form-control{
    height: 32px;
}
.form-row {
    margin-right: 0;
    margin-left: 0;
}