@font-face {
    font-family: icon;
    src: url(./icons/iconFontSolid.otf);
}

body {
    margin-top:0px;
    margin-bottom:0px;
    margin-left:0px;
    margin-right:0px;
    padding-left:0px;
    padding-right:0px;
    overflow: hidden;
}

.mainSection{
    position: absolute;
    left: 0px;
    right: 0px;
}

.toolBar{
    top: 0px;
    font-size: 17pt;
    font-family: icon;
}
.tabBar{
    top: 50px;
}
.centralViewContainer{
    top: 100px;
    bottom: 22px;
    overflow-y: auto;
}
.bottomBar{
    height: 22px;
    bottom: 0px;
}

/* single Central View (the view controlled by tabbing) */
.singleCentralView{
    
}

/* divs inside a single central view */
.singleCentralView > div {
  text-align: center;
}

.networkGraphContainer{
    background-color: #1c2938;
}

.machineInfoContainer{
    padding: 10px;
    font-weight: bold;
    overflow-y: auto;
    overflow-x: hidden;
}

/* Form elements */
.alignRight{
    text-align: right;
    padding: 2px;
}
.alignCenter{
    text-align: center;
    padding: 2px;
}
.alignLeft{
    text-align: left;
    padding: 2px;
}

.bigIcon{
    font-size: 37pt;
    font-family: icon;
    text-align: center;
}
